/test/CMakeFiles
/test/*/CMakeFiles
/build
/CMakeLists.txt.user
/.idea
/CMakeFiles
/src/3rdparty
/cmake-build-*
CMakeCache.txt
cmake_install.cmake
Makefile
cmake-build-release/
src/crypto/asm/*.inc
src/crypto/asm/win/*.inc